<template lang="pug">
  .auth-wrapper
    template(v-if="mode === 'auth'")
      .auth
        .login
          p Логин:
          input(v-model="authData.login" type="text")
        .password
          p Пароль:
          input(v-model="authData.password" type="password")
        button.registrate(@click="setMode('register')") У меня нет аккаунта
        button.authorize(@click="auth") Авторизоваться
    template(v-else-if="mode === 'register'")
      .registration
        .login
          p Логин:
          input(v-model="regData.login" type="text")
        .password
          p Пароль:
          input(v-model="regData.password" type="password")
        .name
          p Ваше имя:
          input(v-model="regData.name" type="text")
        button.authorize(@click="setMode('auth')") У меня уже есть аккаунт
        button.registrate(@click="register") Загрегистрироваться

</template>

<script>
export default {
  name: 'Modal.Auth',
  data() {
    return {
      mode: 'auth',
      authData: {
        login: '',
        password: ''
      },
      regData: {
        login: '',
        password: '',
        name: ''
      }
    }
  },
  methods: {
    /**
     * Установить режим отображения
     * @param {String} mode
     */
    setMode(mode) {
      this.mode = mode;
    },

    /**
     * Инициировать процесс авторизации
     */
    auth() {
      if (this.authData.login.length < 4 || this.authData.password.length < 6) {
        console.error('Логин и пароль некорректы');
        return;
      }

      this.$store.dispatch('AUTH', this.authData);
    },

    /**
     * Инициировать процесс регистрации
     */
    register() {
      if (this.regData.login.length < 4 || this.regData.password.length < 6 || this.regData.name.length < 3) {
        console.error('Логин, пароль или имя некорректы');
        return;
      }

      this.$store.dispatch('REGISTER', this.regData);
    }

  }

}
</script>

<style lang="scss" scoped>

  .auth-wrapper {
    background: #fff;
    padding: 40px 50px;
    border-radius: 40px;
    width: 380px;

    p {
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 100;
      margin-left: 5px;
      color: #999;
    }

    input {
      width: 100%;
      background: rgb(245, 245, 245);
      padding: 10px 20px;
      border-radius: 40px;
      color: rgb(59, 59, 59);
    }

    .registration {
      .login, .password {
        margin-bottom: 20px;
      }

      .authorize {
        width: 100%;
        margin-top: 50px;
        font-size: 14px;
        margin-bottom: 4px;
        color: #999;
      }

      .registrate{
        width: 100%;
        text-align: center;
        background: #ffb59a;
        color: #6a483b;
        padding: 16px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 600;
        transition: all .1s ease-out;

        &:hover {
          background: #f5ae94;
        }
      }
    }

    .auth {
      .login {
        margin-bottom: 20px;
      }

      .registrate {
        width: 100%;
        margin-top: 50px;
        font-size: 14px;
        margin-bottom: 4px;
        color: #999;
      }

      .authorize{
        width: 100%;
        text-align: center;
        background: #ffb59a;
        color: #6a483b;
        padding: 16px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 600;
        transition: all .1s ease-out;

        &:hover {
          background: #f5ae94;
        }
      }
    }
  }

</style>