<template lang="pug">
  .page-wrapper.auth
    button(@click='register') register
    button(@click='auth') auth
</template>

<script>
export default {
  name: 'Auth',
  data() {
    return {
      authData: {
        login: 'offkoenig',
        password: '123123ff'
      },
      regData: {
        name: 'Даня',
        login: 'offkoenig',
        password: '123123ff'
      }
    }
  },
  methods: {
    async register() {
      this.$store.dispatch('REGISTER', this.regData);
    },

    async auth() {
      this.$store.dispatch('AUTH', this.authData);
    }
  }
}
</script>

<style>

</style>