<template lang="pug">
  .page-wrapper.game
    template(v-if="game")
      h1 Игра {{ game.info.name }}
      p Настройки:
      p длительность: {{ game.settings.duration }} раундов
      p минимум игроков: {{ game.settings.minPlayers }}
      p максимум игроков: {{ game.settings.maxPlayers }}
      p игра {{ game.settings.isPublic ? 'публичная' : 'приватная' }}
</template>

<script>
export default {
  name: 'Game',
  async mounted() {
    await this.gameJoin();
  },
  computed: {
    game() {
      return this.$store.state.game;
    }
  },
  methods: {
    async gameJoin() {
      const { gameId } = this.$route.params;
      if (!gameId) {
        this.$router.push('/');
      }

      if (this.game?._id === gameId) {
        return;
      }

      await this.$store.dispatch('GAME_JOIN', this.$route.params.gameId);
    }
  }
}
</script>

<style>

</style>