<template lang="pug">
  .page-wrapper.main
    p Список игр:
    .games-list
      .game(v-for="game in gamesList" @click="gameJoin(game)")
        p {{ game.info.name }}
    p(style="margin-top: 20px") Создать новую
    input(v-model="gameName" placeholder="название игры" style="background: #333; color: #fff;")
    button(@click="gameCreate") Создать игру
</template>

<script>
export default {
  name: 'Main',
  mounted() {
    this.$store.dispatch('GAMES_LIST');
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
    gamesList() {
      return this.$store.state.gamesList;
    },
    game() {
      return this.$store.state.game;
    }
  },
  data() {
    return {
      gameName: ''
    }
  },
  methods: {
    async gameCreate() {
      await this.$store.dispatch('GAME_CREATE', this.gameName);
      this.$store.dispatch('GAMES_LIST');
      this.$router.push(`/game/${this.game._id}`);
    },
    async gameJoin(game) {
      this.$router.push(`/game/${game._id}`);
    }
  }
}
</script>
<style lang="scss" scoped>
 .main {
   .games-list {
     .game {
       cursor: pointer;
     }
   }
 }
</style>