<template lang="pug">
  .header-wrapper
    .header
      .logo(@click="goHome")
        //img
        p.logo-text ЧГК Online
      template(v-if="user")
        .account-info(@mouseover="dropdown.expanded = true" @mouseleave="dropdown.expanded = false")
          //img.avatar
          .avatar-placeholder(:title="user.name")
            p {{ userFirstLetter }}
          button.expand
            svg-icon(name='chevron-down' color='#6a6a6a' width='20px' height='20px')
          .dropdown-wrapper(v-if="dropdown.expanded")
            .dropdown-content
              button(
                v-for="(item, index) in dropdown.items"
                :key="`dropdownItem${index}`"
                @click="item.action"
              ) {{ item.title }}
      template(v-else)
        button.auth-button(@click="openAuth") Вход
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.user;
    },
    userFirstLetter() {
      return this.$store.state.user?.name?.substr(0, 1).toUpperCase();
    }
  },
  data() {
    return {
      dropdown: {
        expanded: false,
        items: [
          {
            title: 'Настройки',
            action: () => {}
          },
          {
            title: 'Выход',
            action: this.unAuthorize
          }
        ]
      }
    }
  },
  methods: {
    goHome() {
      if (this.$route.path !== '/') {
        this.$router.push('/');
      }
    },
    unAuthorize() {
      window.localStorage.removeItem('token');
      this.$store.commit('USER_SET', null);
    },
    openAuth() {
      this.$root.openDialog({
        component: {
          is: () => import('@/components/modals/Auth.vue'),
          _name: 'Modal.Auth'
        }
      })
    }
  }

}
</script>

<style lang="scss" scoped>
  .header-wrapper {
    width: 100%;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 40px 100px;

      .logo {
        cursor: pointer;

        p.logo-text {
          font-weight: 900;
          font-size: 24px;
          color: #464646;
        }
      }

      button.auth-button {
        border: solid 2px coral;
        padding: 10px 18px 8px;
        border-radius: 40px;
        color: rgb(141, 58, 27);
        font-weight: 500;
        transition: all .15s ease-out;

        &:hover {
          color: rgb(156, 64, 30);
          background: rgb(255, 246, 243);
        }
      }

      .account-info {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        .dropdown-wrapper {
          position: absolute;
          right: 0;
          top: 100%;
        }

        .dropdown-content {
          cursor: default;
          margin-top: 10px;
          background: #f1f1f1;
          padding: 20px 30px;
          border-radius: 20px;
          min-width: 130px;

          button {
            color: rgb(59, 59, 59);
            margin-top: 15px;

            &:first-child {
              margin-top: 0;
            }
          }
        }

        button.expand {
          margin-left: 10px;
        }

        .avatar-placeholder {
          cursor: pointer;
          width: 45px;
          height: 45px;
          border-radius: 100%;
          border: solid rgb(255, 201, 182) 3px;
          background: coral;
          padding: 10px;
          position: relative;

          p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            color: rgb(255, 223, 211);
            font-weight: 500;
          }
        }
      }
    }
  }
</style>