<template lang="pug">
  #app
    Modal
    Header
    router-view
</template>

<script>
import Header from '@/components/Header.vue';
import Modal from '@/components/global/Modal.vue';
export default {
  mounted() {
    this.$store.dispatch('USER_GET');
  },
  components: {
    Header,
    Modal
  }
}
</script>

<style lang="scss">
@import '@/assets/reset.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
