<template lang='pug'>
  .icon(:style='`width: ${width}; height: ${height}; color: ${color}; ${buttonStyle}`' v-html='require(`!html-loader!@/assets/icons/svg/${name}.svg`)')
</template>

<script>
export default {
  name: 'SVGIcon',
  props: {
    name: {
      type: String,
      required: true
    },
    width: {
      type: String,
      default: '30px'
    },
    height: {
      type: String,
      default: '30px'
    },
    color: {
      type: String,
      default: 'white'
    },
    buttonStyle: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang='scss'>
  .icon {
    svg {
      width: 100%;
      height: 100%;

      path {
        width: 100%;
      }
    }
  }
</style>